* {
  box-sizing: border-box;
}
/* GLOBAL */
body {
 
  height: 100svh;
  width: 1440px;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;

  
}

/* img {
  width: 100%;
} */

/* header */
.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-image: url(/images/Universe\ header\ prosjekt.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  padding-bottom: 0;
  
  
  
  
}

.logo {
  font-size: 32px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  align-self: center;
  
}


.navlist {
flex-grow: 1;
display: flex;
flex-direction: row;
list-style-type: none;
margin: 0;
padding: 0;
justify-content: space-between;
align-self: flex-end;
width: 100%;

}


.navlink {
  color: white;
}

.headertext {

}

.main {
  background-image: url(/images/Universe\ prosjekt\ side.avif);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

.section{
  height: 100vh;
}
