* {
  box-sizing: border-box;
}
/* GLOBAL */
body {
 
  height: 100svh;
  width: 1440px;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;

  
}

/* img {
  width: 100%;
} */

/* header */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url(/images/Universe\ header\ prosjekt.avif);
  background-repeat: no;
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  
  
  
  
}

.logo {
  font-size: 32px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}


.headertext {

}

.main {
  background-image: url(/images/Universe\ prosjekt\ side.avif);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

.section{
  height: 100vh;
}
