body {
 
  height: 100svh;
  width: 1440px;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-image: url(/images/Universe\ header\ prosjekt.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
  padding-bottom: 0;
  
  
  
  
}

.logo {

  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: 10px;
  
}

.logo img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  
  
  
}


.navlist {
flex-grow: 1;
display: flex;
flex-direction: row;
list-style-type: none;
margin: 0;
padding-left: 10px;
padding-right: 10px;
justify-content: space-between;
align-self: flex-end;
width: 100%;

}


.navlink {
  color: white;
}


.main {
  background-image: url(/images/Universe\ prosjekt\ side.avif);
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

.hero {
  position:relative;
  height: 100vh;
}

.hero img {
  position:absolute;
  top: 20%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: 10px;
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 50%;

}

.herotext {
  position: absolute;
  bottom: 15%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: 10px;
  color: white;
  /* border: 2px, solid, white; */
  text-align: center;
}

.omoss {
  position:relative;
  height: 100vh;
}

.abouttextheadline {
  font-size: 2rem;
  position: absolute;
  top: 10%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: 10px;
  color: white;
  text-align: center;
}

.abouttext {
  position: absolute;
  top: 25%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: 10px;
  color: white;
  text-align: center;
}

.omoss img {
  display: flex;
  width: 250px;
  height: 250px;
  align-self: flex-start;
  flex-direction: ;
  forc
}

.section{
  height: 100vh;
}
